.a-avatar__pic {
	position: relative;
	top: 19px;
	width: 128px;
	height: 128px;
	background-size: cover;
}

.a-avatar-mask {
	padding: 20px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}