<div class="o-app-container">
	<h1 class="a-h1" id="btn">Your space crew</h1>
	{{#with data}}
	{{> crewListScreen crew=crew }}
	{{/with}}
	<div class="m-leaveButton" id="{{ leaveBtnId }}">
		<img class="a-leave-icon" src="../assets/icons/fontawesome/sign-out-alt-solid.svg"></img>
	</div>
</div>
