<div class="o-app-container">
	<img class="a-back-icon" id="{{backBtnId}}" src="../assets/icons/fontawesome/chevron-left-solid.svg"></img>
	<h2 class="a-h2" id="btn">You can join a crew by...</h2>
	{{!-- <p class="a-text">..getting invited through text message or whatsapp</p>
	<p class="a-text--or">or</p> --}}
	<p class="a-text"> ... typing the space <br><span class="a-text--bold">mission identification</span><br>code below!</p>
	<div>
	<input type="text" class="a-code" id="{{codeFieldId}}" placeholder="....">
	<p class="a-login-form__error-container" id={{errorContainerId}}></p>
	</div>
	{{> primaryButton btn_txt="join" btn_id=joinBtnId }}
</div>
