<div class="o-app-container">
<h1 class="a-h1" id="btn">You win</h1>
<p class="a-text-secondary">You survived the alien infection!</p>
{{!-- <p class="a-text-secondary">You lasted </p>
<p class="a-text-secondary"><span class="a-important-number">{{timeLasted}}</span>min</p> --}}
	{{> secondaryButton btn_txt="back to crew" btn_id=btn }}
</div>