<h1 class="a-h1">choose an avatar</h1>
<div class="m-avatar-scroller">
	<img class="a-chevron-icon" id="{{goLeftBtnId}}" src="../assets/icons/fontawesome/chevron-left-solid.svg"></img>
	<img class="a-avatar__pic" id="avatarDiv" src="../assets/images/avatar/astro1_128.png"></img>
	<img class="a-chevron-icon" id="{{goRightBtnId}}" src="../assets/icons/fontawesome/chevron-right-solid.svg"></img>
</div>

{{> primaryButton btn_txt="choose" btn_id=chooseBtnId  }}


home