<ul class="o-screen" id="screenOverview">
	{{#each crew}}
	{{#with this}}
		<div class="m-overview__avatar">
			<img class="a-avatar__pic" src="../../assets/images/avatar/astro1_128.png"></img>
			<div class="a-avatar_emblem"></div>
		</div>
		<p class="a-text"> {{ screenName }} </p>
		<div class="m-overview__divider"></div>
	{{#if isModerator}}
		<button id ="{{userId}}-delete">X</button>
	{{/if}}

	{{/with}}
	{{/each}}
</ul>